*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;                                
  padding: 0 15px;
}

/* BORDER HOVER */
.border {
  border: 1.5px solid transparent;
  padding: 5px;
}
.border:hover {
  border: 1.5px solid white;
}

/* LOGO */
.nav-logo {
  width: 100px;
}
.logo {
  background-image: url("amazon_logo.png");
  background-size: cover; 
  height: 50px;
  width: 100%;
}

/* ADDRESS */
.nav-address {
  display: flex;
  flex-direction: column;
}
.small-text {
  font-size: 12px;
  color: #ccc;
}
.bold-text {
  font-size: 14px;
  font-weight: bold;
}
.add-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* SEARCH BAR */
.nav-search {
  display: flex;
  flex: 1;
  height: 40px;
  border-radius: 4px;
  overflow: hidden;
}
.search-select {
  width: 50px;
  border: none;
  background-color: #f3f3f3;
}
.search-input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 15px;
}
.search-icon {
  width: 45px;
  background-color: #febd69;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 18px;
}

/* LANGUAGE */
.nav-lang {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* CART */
.nav-cart {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-cart i {
  font-size: 22px;
}

/*Panel*/
.panel{
    height: 40px;
    background-color: #333f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-options p {
   display: inline;
   margin-left: 15px;
}
.panel-options {
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* HERO SECTION */
.hero-section {
  height: 380px;
  background-image: url("hero_image.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-msg {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  width: 80%;
  margin-bottom: 25px;
}
 
.hero-msg a{
    color:#007185
}
/*Shop Section*/
.shopping-section {
   display: flex; 
   flex-wrap: wrap; 
   justify-content: space-evenly;
   background-color: #e2e7e6;
    padding: 20px;
}
    .box {
    height: 400px;
    /* border: 2px solid black; */
    width: 23%;
    background-color: white;
    margin-top: 15px;
}
.box-img {
    height: 300px;
    padding: 20px 0px 15px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
   
.box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 15px;
}


.box-content p {
    color: #007185;
}


/* Footer */
footer{
margin-top: 15px;




}

.foot-panel1{
 background-color: #374758;
 color: white;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 0.85rem;

}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}



ul a {
    display: block;
    font-size:0.85rem ;
    margin-top: 10px;
    color: #DDDDDD;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}